<div class="col-sm-4 ">
  <div class="card">
    <h4> <%= cocktail.name  %> </h4>
    <ul class="list-inline">
      <li><%= link_to 'Show Recipe', cocktail_path(cocktail), class:"btn btn-success" %></li>
      <li><%= link_to "Delete", cocktail_path(cocktail), class:"btn btn-warning",
  method: :delete,
  data: { confirm: "Are you sure?" } %></li>
    </ul>
  </div>
</div>
