<div class="banner">
  <div class="container text-center">
    <h1>List of Cocktails</h1>
    <h3>Impress your friends with amazing Cocktails</h3>
  </div>
</div>

<div class="wrapper">
  <div class="button-container text-center">
    <button type="button" id="cocktail-modal-button" class="btn btn-primary" data-toggle="modal" data-target="cocktail-modal">
      Create a Cocktail
    </button>
  </div>
</div>

<div class="card-container">
  <div class="row">
    <div id="cocktails">
      <% @cocktails.each do |cocktail| %>
        <%= render 'cocktails/show', cocktail: cocktail %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'modal-cocktail', cocktail: Cocktail.new %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#cocktail-modal-button').on("click", function() {
        $('#cocktail-modal').modal('show')
      });
    });
  <% end %>
<% end %>




