
<div id="wrapper">
  <div class="card-container">
    <div class="row">
      <div id="cocktails">
        <% @cocktails.each do |cocktail| %>
          <%= render 'cocktails/show', cocktail: cocktail %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="button-container text-center">
    <div>
      <%= link_to "Home", pages_home_path, class:"btn btn-primary" %>
    </div> 
    <button type="button" id="cocktail-modal-button" class="btn btn-primary" data-toggle="modal" data-target="cocktail-modal">
      Create a Cocktail
    </button>
  </div>
</div>

<%= render 'modal-cocktail', cocktail: Cocktail.new %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#cocktail-modal-button').on("click", function() {
        $('#cocktail-modal').modal('show')
      });
    });
  <% end %>
<% end %>
