<div class="container">
  <div class="title_1">
    The Cocktail Shaker
  </div>
  <div class="title_2">
    Store and share all your Recipes!
  </div>
  <div>
    <%= link_to "See all Cocktails", cocktails_path, class:"btn btn-primary" %>
  </div> 
  <div class="table">
    <div class="glassHead">
      <div class="strawContainer">
        <div class="straw">
        </div>
        <div class="lemon">
        </div>
        <div class="ice">
        </div>
        <div class="ice ice2">
        </div>
        <div class="ice ice3">
        </div>
      </div>
    </div>
    <div class="liquid2">
    </div>
    <div class="liquid">
    </div>
    <div class="glassBar">
    </div>
    <div class="glassFoot">
    </div>
  </div>
</div>