.form-container {
  padding: 15px;
  color: #6b1b1b;
}

.form-action {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.modal-body-cocktail {
	text-align: left;
	padding: 5px;
}